<!DOCTYPE html>
<html>
<head>
    <title>Your Account Status Update Notification</title>
</head>
<body>
    <h1>Account Status Update</h1>
    <p>Hello {{username}},</p>
    
    <p>The status of your WanderLog account has been <strong>{{new_status_text}}</strong>.</p>
    
    {{#if reason}}
    <p>Reason: {{reason}}</p>
    {{/if}}

    <p>If you have any questions, please contact us.</p>
    
    <p>Sincerely, </p>
    <p>The WanderLog Team</p>
</body>
</html>
